body {
  color: white;
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/full-bloom.png");
}
.header {
  max-width: 900px;
  background: black;
  height: 250px;
  padding: none;
  margin: 0 auto;
}
.bio {
  color: black;
  font-family: "Poppins", sans-serif;
  margin: 20px;
}
.contact {
  font-family: "Poppins", sans-serif;
  color: black;
}
.overview {
  color: black;
}
.formGroup,
#navigate,
.nav-item,
.nav-link,
.navbar-brand {
  font-family: "Poppins", sans-serif;
  color: black;
}
p {
  font-family: "Poppins", sans-serif;
  color: black;
}
.navbar {
  color: black;
}
.social {
  line-height: 24px;
}
.name,
.email {
  text-align: left;
}
input,
textarea {
  width: 500px;
}
.msg {
  height: 150px;
}

.pictures {
  /*float: left;*/
  position: relative;
  margin: 0 auto;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: center;
  align-content: center;
  zoom: 1;
  display: inline-block;
}
.bars {
  float: left;
  position: absolute;
  width: 100%;
  height: 40px;
  text-align: center;
  background: purple;
  top: 140px;
  line-height: 40px;
}

.footer {
  clear: both;
}
.gallery {
  max-width: 900px;
  margin: 0 auto;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  align-content: space-between;
  text-align: center;
}
.gallery:after {
  content: "";
  width: 100%; /* Ensures there are at least 2 lines of text, so justification works*/
  display: inline-block;
}

.bottomBar {
  text-align: center;
}
img {
  border-radius: 6px;
}
.name {
  text-align: center;
  /*line-height: 200px;*/
}
h1 {
  font-family: "Poppins", sans-serif;
  line-height: 120px;
}

h3,
h4 {
  font-family: "Yanone Kaffeesatz", sans-serif;
}
a {
  color: white;
  font-family: "Yanone Kaffeesatz", sans-serif;
  text-decoration: none;
}
a:visited {
  text-decoration: none !important;
}

@media screen and (max-width: 1143px) {
  .portfolio-items {
    width: 810px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1124px) {
  .portfolio-items {
    width: 547px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 608px) {
  .portfolio-items {
    width: 256px;
    margin: 0 auto;
  }
  .pictures {
    text-align: center;
  }
}
